
## __IE Calibration__

__28.05.2021__


Today, we tested 5 different concentrations of NH4NO3 standards with both AMS and SMPS for calibrating the IE values.

Ideally, we assumed the results from SMPS were reliable, and then transform the volume conc to mass conc with the density of NH4NO3 (1.725 ug/m3). Then, the fitted line of mass conc from AMS and SMPS were obtained, in which the slope will be used to correct the IE values for matching the results.   

For AMS,   $Nitrate\ (\mu g\ m^{-3}) = HRNO_{3}\cdot (M_{NO_3}+M_{NH_4})/M_{NO_3} = 1.299\cdot HRNO_{3}$    

For SMPS, $Nitrate\ (\mu g\ m^{-3}) = 1.725\ g\cdot cm^{-3}\cdot 10^{-9}\cdot Volume\ Conc\ (nm^{3}\cdot m^{-3}) $   

_Note: shape factor was not used this time_

In [1]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

### __1. Experimental Results__


| Conc (ppm)   |   HROrg_AMS (ug/m3) |   NH4NO3_AMS (ug/m3) |   NH4NO3_SMPS (nm3/m3) |   NH4NO3_SMPS (ug/m3) |
|:-------------|--------------------:|---------------------:|-----------------------:|----------------------:|
| 20           |              61.778 |               80.232 |               1.45e+11 |               249.735 |
| 10           |              26.991 |               35.053 |               7.77e+10 |               134.093 |
| 5            |              12.918 |               16.777 |               4.68e+10 |                80.685 |
| 2            |               6.017 |                7.814 |               2.89e+10 |                49.916 |
| 1            |               3.623 |                4.706 |               2.06e+10 |                35.503 |
| water blank  |               1.518 |                1.972 |               1.41e+10 |                24.388 |

### 2. __Linear fitting__

In [51]:
print(f'Original IE = 5.3E-08')

Original IE = 5.3E-08

In [52]:
print(f'With water blank extration')

With water blank extration

<figure class="left">
  <img class="top" src="https://i.stack.imgur.com/y5kai.png" width="600" height="400"/>
</figure>

<figure class="right">
  <img class="average" src="https://i.stack.imgur.com/N6dD7.png" width="600" height="400"/>
</figure>

In [53]:
print(f'Without water blank extration')

Without water blank extration

<figure class="left">
  <img class="top" src="https://i.stack.imgur.com/fKPdv.png" width="600" height="400"/>
</figure>

<figure class="right">
  <img class="average" src="https://i.stack.imgur.com/Ild5c.png" width="600" height="400"/>
</figure>

### 3. __Supplemental information__

3.1 AMS HRNO3 time series & raw data

<img src="https://i.stack.imgur.com/taM5n.jpg" width = '900'>

In [39]:
# df2 = pd.read_clipboard()

In [47]:
from IPython.display import display_html
from itertools import chain,cycle
def display_side_by_side(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2 align="left"><font size=2>{title}</font></h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)
pd.options.display.float_format = "{:,.2f}".format    

conc=["20 ppm", "10 ppm", "5 ppm",'2 ppm','1 ppm','water']
for i in range(0,6,1):
    globals()['ams_d' + str(i)] = df2[df2.Standard==conc[i]]
    
    globals()['ams_d' + str(i)] = globals()['ams_d' + str(i)].reset_index()
    globals()['ams_d' + str(i)] = globals()['ams_d' + str(i)][globals()['ams_d' + str(i)].columns[1:-1]]

In [48]:
display_side_by_side(ams_d0,ams_d1,ams_d2, titles=['20 ppm','10 ppm','5 ppm',])

,Time,HROrg (ug/m3)
0,3:58:04 PM,52.04
1,3:58:36 PM,55.10
2,3:59:07 PM,58.22
3,3:59:39 PM,60.66
4,4:00:10 PM,62.13
5,4:00:42 PM,62.89
6,4:00:53 PM,62.36
7,4:01:04 PM,60.80
8,4:01:14 PM,61.05
9,4:01:25 PM,62.95
10,4:01:37 PM,62.22
11,4:01:48 PM,64.11
12,4:01:59 PM,64.03
13,4:02:10 PM,64.16
14,4:02:21 PM,66.84
15,4:02:32 PM,64.76
16,4:02:43 PM,63.01
17,4:02:54 PM,65.77
18,4:03:05 PM,65.11
19,4:03:16 PM,61.68
20,4:03:27 PM,57.44
,Time,HROrg (ug/m3)
0,4:04:00 PM,28.11
1,4:04:11 PM,27.36
2,4:04:22 PM,27.58
3,4:04:33 PM,27.36
4,4:04:44 PM,28.26
5,4:04:55 PM,26.89
6,4:05:06 PM,26.93
7,4:05:16 PM,27.59
8,4:05:27 PM,27.64
9,4:05:38 PM,27.46
10,4:05:49 PM,26.77
11,4:06:03 PM,26.70
12,4:06:13 PM,27.51
13,4:06:24 PM,27.22
14,4:06:35 PM,28.06
15,4:06:46 PM,27.18
16,4:06:57 PM,26.23
17,4:07:08 PM,26.15
18,4:07:19 PM,26.35
19,4:07:30 PM,25.63
20,4:07:41 PM,25.40
21,4:07:52 PM,25.40
,Time,HROrg (ug/m3)
0,4:08:25 PM,15.68
1,4:08:36 PM,14.05
2,4:08:47 PM,13.82
3,4:08:58 PM,13.69
4,4:09:09 PM,13.44
5,4:09:20 PM,13.45
6,4:09:31 PM,13.19
7,4:09:42 PM,12.65
8,4:09:53 PM,12.66
9,4:10:04 PM,12.74
10,4:10:15 PM,12.57
11,4:10:26 PM,12.46
12,4:10:37 PM,12.82
13,4:10:48 PM,12.64
14,4:10:59 PM,12.87
15,4:11:09 PM,12.14
16,4:11:20 PM,12.28
17,4:11:31 PM,12.40
18,4:11:42 PM,12.52
19,4:11:53 PM,12.19
20,4:12:04 PM,12.60
21,4:12:15 PM,12.77
22,4:12:26 PM,12.11
23,4:12:37 PM,12.32
,Time,HROrg (ug/m3)
0,4:12:59 PM,7.61
1,4:13:10 PM,6.60
2,4:13:21 PM,6.50
3,4:13:32 PM,6.52
4,4:13:43 PM,6.28
5,4:13:54 PM,6.46
6,4:14:05 PM,6.22
7,4:14:16 PM,6.30
8,4:14:27 PM,6.52
9,4:14:38 PM,6.03
10,4:14:49 PM,6.05
11,4:15:00 PM,6.02
12,4:15:11 PM,5.95
13,4:15:22 PM,6.13
14,4:15:33 PM,6.26
15,4:15:44 PM,5.92
16,4:15:54 PM,5.89
17,4:16:05 PM,5.81
18,4:16:16 PM,5.62
19,4:16:27 PM,5.68
20,4:16:38 PM,5.83
21,4:16:49 PM,5.62
22,4:17:00 PM,5.91
23,4:17:11 PM,5.90
24,4:17:22 PM,5.68
25,4:17:33 PM,5.62
26,4:17:44 PM,5.92
27,4:17:55 PM,5.83
28,4:18:06 PM,5.56
29,4:18:17 PM,5.75
30,4:18:28 PM,5.50
31,4:18:39 PM,5.87
32,4:18:50 PM,5.62
33,4:19:01 PM,5.60

In [49]:
display_side_by_side(ams_d3,ams_d4,ams_d5,titles=['2 ppm','1 ppm','water blank',])

,Time,HROrg (ug/m3)
0,4:12:59 PM,7.61
1,4:13:10 PM,6.60
2,4:13:21 PM,6.50
3,4:13:32 PM,6.52
4,4:13:43 PM,6.28
5,4:13:54 PM,6.46
6,4:14:05 PM,6.22
7,4:14:16 PM,6.30
8,4:14:27 PM,6.52
9,4:14:38 PM,6.03
10,4:14:49 PM,6.05
11,4:15:00 PM,6.02
12,4:15:11 PM,5.95
13,4:15:22 PM,6.13
14,4:15:33 PM,6.26
15,4:15:44 PM,5.92
16,4:15:54 PM,5.89
17,4:16:05 PM,5.81
18,4:16:16 PM,5.62
19,4:16:27 PM,5.68
20,4:16:38 PM,5.83
21,4:16:49 PM,5.62
22,4:17:00 PM,5.91
23,4:17:11 PM,5.90
24,4:17:22 PM,5.68
25,4:17:33 PM,5.62
26,4:17:44 PM,5.92
27,4:17:55 PM,5.83
28,4:18:06 PM,5.56
29,4:18:17 PM,5.75
30,4:18:28 PM,5.50
31,4:18:39 PM,5.87
32,4:18:50 PM,5.62
33,4:19:01 PM,5.60
,Time,HROrg (ug/m3)
0,4:21:03 PM,3.65
1,4:21:14 PM,3.74
2,4:21:25 PM,3.80
3,4:21:36 PM,3.69
4,4:21:47 PM,3.61
5,4:21:57 PM,3.76
6,4:22:08 PM,3.78
7,4:22:19 PM,3.59
8,4:22:30 PM,3.83
9,4:22:41 PM,3.82
10,4:22:52 PM,3.68
11,4:23:03 PM,3.71
12,4:23:14 PM,3.57
13,4:23:25 PM,3.66
14,4:23:36 PM,3.58
15,4:23:47 PM,3.42
16,4:23:58 PM,3.39
17,4:24:09 PM,3.43
18,4:24:20 PM,3.40
19,4:24:31 PM,3.51
20,4:24:42 PM,3.45
,Time,HROrg (ug/m3)
0,4:27:15 PM,1.86
1,4:27:26 PM,1.63
2,4:27:37 PM,1.78
3,4:27:48 PM,1.83
4,4:27:59 PM,1.78
5,4:28:10 PM,1.81
6,4:28:21 PM,1.76
7,4:28:32 PM,1.68
8,4:28:43 PM,1.73
9,4:28:54 PM,1.63
10,4:29:05 PM,1.68
11,4:29:15 PM,1.69
12,4:29:26 PM,1.70
13,4:29:37 PM,1.66
14,4:29:48 PM,1.66
15,4:29:59 PM,1.58
16,4:30:10 PM,1.51
17,4:30:21 PM,1.60
18,4:30:32 PM,1.53
19,4:30:43 PM,1.56
20,4:30:54 PM,1.58
21,4:31:05 PM,1.47
22,4:31:16 PM,1.49
23,4:31:27 PM,1.49
24,4:31:38 PM,1.50
25,4:31:49 PM,1.44
26,4:32:00 PM,1.46
27,4:32:11 PM,1.41
28,4:32:22 PM,1.34
29,4:32:33 PM,1.44
30,4:32:43 PM,1.41
31,4:32:54 PM,1.39
32,4:33:05 PM,1.40
33,4:33:16 PM,1.34
34,4:33:27 PM,1.33
35,4:33:38 PM,1.31
36,4:33:49 PM,1.29
37,4:34:00 PM,1.26
38,4:34:11 PM,1.23
39,4:34:22 PM,1.22
40,4:34:33 PM,1.28
41,4:34:44 PM,1.04

3.2 SMPS raw data

In [55]:
df3 = pd.read_clipboard()

In [59]:
conc=["20 ppm", "10 ppm", "5 ppm",'2 ppm','1 ppm','water blank']
for i in range(0,6,1):
    globals()['smps_d' + str(i)] = df3[df3.Standard==conc[i]]
    
    globals()['smps_d' + str(i)] = globals()['smps_d' + str(i)].reset_index()
    globals()['smps_d' + str(i)] = globals()['smps_d' + str(i)][globals()['smps_d' + str(i)].columns[1:-1]]

In [60]:
display_side_by_side(smps_d0,smps_d1,smps_d2, titles=['20 ppm','10 ppm','5 ppm',])

,time,SMPS volume conc (nm3/m3),SMPS mass conc (ug/m3)
0,15:59:37,"143,000,000,000.00",247.00
1,16:01:08,"145,000,000,000.00",250.00
2,16:02:39,"146,000,000,000.00",252.00
,time,SMPS volume conc (nm3/m3),SMPS mass conc (ug/m3)
0,16:04:10,"79,200,000,000.00",137.00
1,16:05:41,"78,600,000,000.00",136.00
2,16:07:12,"75,400,000,000.00",130.00
,time,SMPS volume conc (nm3/m3),SMPS mass conc (ug/m3)
0,16:08:43,"48,200,000,000.00",83.20
1,16:10:14,"46,900,000,000.00",80.80
2,16:11:45,"45,200,000,000.00",78.00

In [61]:
display_side_by_side(smps_d3,smps_d4,smps_d5, titles=['2 ppm','1 ppm','water blank',])

,time,SMPS volume conc (nm3/m3),SMPS mass conc (ug/m3)
0,16:13:16,"30,600,000,000.00",52.70
1,16:14:47,"29,300,000,000.00",50.50
2,16:16:18,"29,400,000,000.00",50.70
3,16:17:49,"28,200,000,000.00",48.70
4,16:19:20,"27,200,000,000.00",46.90
,time,SMPS volume conc (nm3/m3),SMPS mass conc (ug/m3)
0,16:22:22,"21,500,000,000.00",37.00
1,16:23:53,"19,800,000,000.00",34.20
2,16:25:24,"20,400,000,000.00",35.30
,time,SMPS volume conc (nm3/m3),SMPS mass conc (ug/m3)
0,16:28:26,"15,700,000,000.00",27.10
1,16:29:57,"14,700,000,000.00",25.30
2,16:31:28,"14,300,000,000.00",24.60
3,16:32:59,"13,200,000,000.00",22.80
4,16:34:30,"12,800,000,000.00",22.10


3.3 Pika relevant figures

<figure class="left">
  <h2 align="left"><font size=2>Peak width fit graph</font></h2>
  <img class="top" src="https://i.stack.imgur.com/B5w8a.jpg" width="500" height="300"/>
</figure>
<figure class="right">
  <h2 align="left"><font size=2>Peak shape</font></h2>    
  <img class="average" src="https://i.stack.imgur.com/aqZgx.jpg" width="500" height="300"/>
</figure>

<figure class="left">
  <h2 align="left"><font size=2>m/z 30 peak fitting</font></h2>
  <img class="top" src="https://i.stack.imgur.com/yi6QP.jpg" width="500" height="300"/>
</figure>
<figure class="right">
  <h2 align="left"><font size=2>m/z 46 peak fitting</font></h2>    
  <img class="average" src="https://i.stack.imgur.com/BcjmS.jpg" width="500" height="300"/>
</figure>